@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupDay" class="control-label"></label>
                <input asp-for="PickupDay" class="form-control" />
                <span asp-validation-for="PickupDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraPickupDay" class="control-label"></label>
                <input asp-for="ExtraPickupDay" class="form-control" />
                <span asp-validation-for="ExtraPickupDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSuspended" /> @Html.DisplayNameFor(model => model.IsSuspended)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SuspendedStart" class="control-label"></label>
                <input asp-for="SuspendedStart" class="form-control" />
                <span asp-validation-for="SuspendedStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendedEnd" class="control-label"></label>
                <input asp-for="SuspendedEnd" class="form-control" />
                <span asp-validation-for="SuspendedEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
