@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Extra_pickup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Extra Pickup</h1>

<h4>To schedule an extra pickup, enter the date below. There is a $35 fee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Extra_pickup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="PickupDay" />
            <input type="hidden" asp-for="IsSuspended" />
            <input type="hidden" asp-for="SuspendedStart" />
            <input type="hidden" asp-for="SuspendedEnd" />
            <input type="hidden" asp-for="ChargesDue" />
            <input type="hidden" asp-for="IdentityUserId" />
            
            <div class="form-group">
                <label asp-for="ExtraPickupDay" class="control-label"></label>
                <input asp-for="ExtraPickupDay" class="form-control" />
                <span asp-validation-for="ExtraPickupDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
