@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Suspend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Suspend Service</h1>

<h4>Enter start and end date of service suspention</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Suspend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="ZipCode" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="PickupDay" />
            <input type="hidden" asp-for="ExtraPickupDay" />
            <input type="hidden" asp-for="ChargesDue" />
            <input type="hidden" asp-for="IdentityUserId" />
            <input type="hidden" asp-for="IsSuspended" />


            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSuspended" /> @Html.DisplayNameFor(model => model.IsSuspended)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="SuspendedStart" class="control-label"></label>
                <input asp-for="SuspendedStart" class="form-control" />
                <span asp-validation-for="SuspendedStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendedEnd" class="control-label"></label>
                <input asp-for="SuspendedEnd" class="form-control" />
                <span asp-validation-for="SuspendedEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
