<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trash_Collector</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/Images/LogoRS.jpg" style="width: 35px" />  Rebel Sanitation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarCollapse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Employees" asp-action="Details">Account</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Route</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Employees" asp-action="Index">Today</a>
                                <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups">Tomorrow</a>

                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Monday">Monday</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Tuesday">Tuesday</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Wednesday">Wednesday</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Thursday">Thursday</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Friday">Friday</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="FuturePickups" asp-route-dayOfWeek="Saturday">Saturday</a>
                                </div>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            2020 - Trash Collector
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
