@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";

}

<div class="text-center">
    <h1 class="display-4"> <img src="~/lib/Images/LogoRS.jpg" />Welcome</h1>
   
    <p>Bringing a brighter tomorrow, today.</p>
</div>
